


.wrapper{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#calculatedAge{
    display: none;
}

.designYMD{
    display: flex;
    justify-content: space-around;
} 

#Main{
    display: none;
}



